<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SeniorProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C12B9D2F1DEDA33000D3C85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C18F88721EC364490084BE72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C18F88801EC3672F0084BE72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C18F88901EC710350084BE72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
